body {
  background: #fafafa !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  height: 2em;
  width: 3em;
  overflow: show;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: transparent;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #666666;
}

.indicatorTop {
  padding-top: 28vh;
}

code {
  display: inline-block;
  padding: 0 2px;
}
pre code {
  background: transparent;
  border: 0;
  display: block;
  padding: 1em;
}
